@{
    ViewData["Title"] = "Konsult Bonus";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Konsult Bonus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="text-center">
    <div class="container-fluid">
        <h1 class="customMT">Konsult bonus beräkning</h1>
        <h3>Gisys arbetsprov</h3>

        <hr />
        <br />

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="linkStyle" asp-controller="Konsulter" asp-action="Index">
                        <img src="~/img/konsult.png" class="" alt="Konsultside bild" />
                        <h3 class="mb-5">Konsultsida</h3>
                    </a>
                </div>
                <div class="col-sm">
                    <a class="linkStyle" asp-controller="Bonus" asp-action="Index">
                        <img src="~/img/bonus.png" class="" alt="Bonussida bild" />
                        <h3 class="mb-5">Bonussida</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
